APP_NAME=MyApp
APP_ENV=local
APP_PORT=3000


# Default Database Connection
DB_CONNECTION=mysql

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mystore
DB_USERNAME=root
DB_PASSWORD=

# PostgreSQL
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DATABASE=analytics_db
PG_USERNAME=postgres
PG_PASSWORD=
PG_SSL=false

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/mystore

# Cassandra
CASSANDRA_CONTACT_POINTS=127.0.0.1
CASSANDRA_DATACENTER=datacenter1
CASSANDRA_KEYSPACE=mystore

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
